@use "./colors" as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	font-size: 62.5%;
}
body {
	position: relative;
	height: 100vh;
	background-color: $bg-light;
	overflow: hidden;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 98vh;
	border-radius: 10px;
	background-color: $bg;
	.title {
		font-size: 3rem;
		padding: 20px 10px;
		text-align: center;
		color: $white;
		.title-span {
			padding: 5px;
			color: $black;
			background-color: $main-color;
			border-radius: 10px;
		}
	}
	.search-box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 2em;

		.movie-title {
			padding: 0.3em;
			width: 60%;
			font-size: 1.4rem;
			border: none;
			border-bottom: 2px solid $main-color;
			background-color: $bg;
			color: $white;
			outline: none;
		}
		.movie-title::placeholder {
			opacity: 0.8;
			color: $white;
		}
		.search-btn {
			font-size: 1.2rem;
			padding: 0.5em 1em;
			border-radius: 10px;
			border: transparent;
			background-color: $main-color;
			color: $black;
			outline: none;
			cursor: pointer;
		}
	}

	.movie-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 1.2em;
		color: $white;
		.warning-msg {
			text-align: center;
			font-size: 1.4rem;
			color: $white;
		}
		.movie-header {
			display: flex;
			align-items: center;
			.movie-poster {
				margin: 0.5em;
				width: 40%;
			}
			.movie-header-text {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 180px;
				margin-left: 0.5em;

				.movie-name {
					font-size: 2rem;
				}
				.movie-rate {
					display: flex;
					align-items: center;
					font-size: 1.6rem;

					.star {
						width: 14%;
						margin-right: 0.5em;
						margin-bottom: 0.2em;
					}
				}
				.movie-details {
					font-size: 1.2rem;
					span {
						padding-right: 0.5em;
					}
				}
				.director {
					font-size: 1.2rem;
					// padding: 0.3em 0;
					span {
						color: $main-color;
					}
				}
				.box-office {
					font-size: 1.2rem;
					// padding: 0 0.5em;
					span {
						color: $main-color;
					}
				}
			}
		}
		.movie-type {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 1em 0;
			font-size: 1.2rem;
			span {
				padding: 0.5em;
				background-color: rgba(226, 182, 22, 0.4);
				color: $black;
				border-radius: 10px;
				font-weight: bold;
			}
		}
		.movie-plot {
			font-size: 1rem;
			padding: 0.5em;
			h3 {
				color: $main-color;
			}
		}
		.movie-cast {
			font-size: 1rem;
			padding: 0.5em;
			h3 {
				color: $main-color;
			}
		}
	}
}

// MEDIA
@media (min-width: 375px) {
	.wrapper {
		.search-box {
			.search-btn {
				font-size: 1.5rem;
			}
		}
		.movie-box {
			.movie-plot {
				font-size: 1.5rem;
			}
			.movie-cast {
				font-size: 1.5rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		.title {
			font-size: 4rem;
		}
		.search-box {
			justify-content: center;
			.movie-title {
				font-size: 2.3rem;
				border-bottom: 3px solid $main-color;
			}
			.search-btn {
				font-size: 2.3rem;
			}
		}
		.movie-box {
			margin-top: 1.5em;
			.warning-msg {
				font-size: 2rem;
			}
			.movie-header {
				.movie-poster {
					margin: 0 2em;
				}
				.movie-header-text {
					height: 420px;

					.movie-name {
						font-size: 4.5rem;
					}
					.movie-rate {
						font-size: 3.2rem;
						.star {
							width: 10%;
							margin-right: 0.2em;
						}
					}
					.movie-details {
						font-size: 3rem;
					}
					.director {
						font-size: 3rem;
					}
					.box-office {
						font-size: 3rem;
					}
				}
			}
			.movie-type {
				font-size: 2.6rem;
			}
			.movie-plot {
				font-size: 2.2rem;
			}
			.movie-cast {
				font-size: 2.2rem;
			}
		}
	}
}
@media (min-width: 992px) {
	.wrapper {
		.title {
			font-size: 5rem;
		}

		.movie-box {
			margin-top: 2em;
			.warning-msg {
				font-size: 3rem;
			}
			.movie-header {
				margin-top: 5em;
				.movie-poster {
					margin: 0 2em 0 4em;
				}
				.movie-header-text {
					align-items: center;
					height: 520px;

					.movie-rate {
						justify-content: center;

						.star {
							width: 8%;
						}
					}
				}
			}

			.movie-plot {
				font-size: 2.5rem;
			}
			.movie-cast {
				font-size: 2.5rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.wrapper {
		.search-box {
			margin-top: 0;
			margin-bottom: 4em;
		}
		.movie-box {
			height: 75vh;
			.movie-header {
				justify-content: center;
				margin-top: 0.2em;
				.movie-poster {
					width: 20%;
				}
				.movie-header-text {
					height: 320px;
				}
			}
			.movie-type {
				justify-content: center;
				span {
					margin: 0 2em;
				}
			}
			.movie-plot {
				margin: 0 3em;
			}
			.movie-cast {
				margin: 0 3em 1em 3em;
			}
		}
	}
}
@media (min-width: 1400px) {
	.wrapper {
		.movie-box {
			.movie-header {
				margin-top: 4em;
				.movie-poster {
					width: 13%;
				}
			}
			.movie-cast {
				margin-bottom: 3em;
			}
		}
	}
}
